
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --mainBlue: #14457B;
    --lightBlue: #3fa8e1;
    --iconGreen: #90d690;
    --iconOrange: #dba94c;
    --iconGray: #9a9999;
    --background: #F5F5F5;
    --borderGray: #d5d4d4;
    --textGray: #5b5a5a;
}

button {
    min-width: 180px;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: none;
}

/*................INFO STYLES.................*/

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 2px solid var(--borderGray);
}

.info .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .inner .box {
    margin-right: 50px;
}

.info .inner .box i {
    margin-right: 5px;
    color: var(--lightBlue);
}

.info .inner .box span {
    color: var(--textGray);
}

.info .media i {
    margin-right: 5px;
    color: var(--lightBlue);
}

/*........................HEADER STYLES........................*/

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin-top: 20px;
    position: relative; /*//////avelavcrac*/
}

header .inner a img {
    height: 60px;
    width: 220px;
}

header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar ul li {
    padding: 0 15px;
}

header .navbar ul li a{
    color: var(--black);
}

header .navbar ul li:hover {
    border-bottom: 2px solid var(--mainBlue);
}

header .navbar ul li:hover a{
    color: var(--mainBlue);
}

header #menu-bar {
    min-width: auto;
    font-size: 20px;
    padding: 5px;
    display: none;
}

.hide {
    display: none !important;
}

/*...........................HERO STYLES.......................*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.hero .inner {
    width: 40%;
    padding: 50px;
    gap: 20px;
    display: grid;
}

.hero p {
    font-size: 30px;
}

.hero .inner a button {
    background: var(--mainBlue);
    color: var(--white);
}

.hero img {
    width: 60%;
    padding: 0 60px;
}


/*.......................MEDIA.........................*/

/*.....................HEADER MEDIA STYLES......................*/
@media (max-width: 1024px) {
    header #menu-bar {
        display: initial;
    }

    header .inner img {
        height: 40px;
        width: 180px;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--white);
        box-shadow: 1px 1px 1px 1px #000000;
        display: none;
    }

    header .navbar.active {
        display: block;
    }

    header .navbar ul {
        display: block;
    }

    /*..................SUBHEADER MEDIA STYLES.............*/
    .hero {
        margin-top: 0;
    }

    .hero .inner {
        padding: 0 20px;
    }

    .hero .inner p {
        font-size: 25px;
    }

    .hero img {
        height: 300px;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .info {
        padding: 10px 20px;
    }
    .info .inner {
        flex-direction: column;
        align-items: start;
    }

    .info .inner .box {
        margin-right: 0;
        font-size: 12px;
    }

    header .inner {
        padding: 10px 20px;
    }

    header .inner a img {
        height: 40px;
        width: 160px;
    }

    .hero {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .hero .inner {
        width: auto;
        padding: 0 25px;
    }

    .hero .inner p {
        font-size: 16px;
    }

    .hero .inner a {
        text-align: center;
    }

    .hero .inner a button {
        min-width: 110px;
        margin: 0 auto;
    }

    .hero img {
        height: 250px;
        width: 300px;
        padding: 0 10px;
    }
}

