
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --mainBlue: #14457B;
    --lightBlue: #3fa8e1;
    --iconGreen: #90d690;
    --iconOrange: #dba94c;
    --iconGray: #9a9999;
    --background: #F5F5F5;
    --borderGray: #d5d4d4;
    --textGray: #5b5a5a;
}

button {
    min-width: 180px;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: none;
}

/*................INFO STYLES.................*/

.info {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderGray);
}

.info .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .inner .box {
    margin-right: 50px;
}

.info .inner .box i {
    margin-right: 5px;
    color: var(--lightBlue);
}

.info .inner .box span {
    color: var(--textGray);
}

.info .media i {
    margin-right: 5px;
    color: var(--lightBlue);
}

/*........................HEADER STYLES........................*/
header {
    top: 0;
    position: sticky;
    background: var(--white);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

header .inner {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    justify-content: space-between;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbar ul li {
    padding: 0 15px;
}

header .navbar ul li a {
    color: var(--black);
}

header .navbar ul li:hover {
    border-bottom: 2px solid var(--mainBlue);
}

header .navbar ul li:hover a {
    color: var(--mainBlue);
}

header #menu-bar {
    min-width: auto;
    font-size: 20px;
    padding: 5px;
    display: none;
    color: var(--lightBlue);
}

.hide {
    display: none !important;
}

/*...........................HERO STYLES.......................*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .inner {
    width: 40%;
    padding: 50px;
    gap: 20px;
    display: grid;
}

.hero p {
    font-size: 30px;
}

.hero .inner a button {
    background: var(--mainBlue);
    color: var(--white);
}

.hero img {
    width: 60%;
    padding: 0 60px;
}


/*.......................MEDIA.........................*/

/*.....................HEADER MEDIA STYLES......................*/
@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
    header #menu-bar {
        display: initial;
    }

    header .inner img {
        width: 160px;
    }

    header .inner {
        padding: 10px 20px;
    }

    header .navbar {
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        position: absolute;
        background: var(--mainBlue);
    }

    header .navbar.active {
        display: block;
    }

    header .navbar ul {
        display: block;
        padding: 20px 0;
    }

    header .navbar ul li {
        padding: 8px 35px;
    }

    header .navbar ul li a {
        color: var(--white);
    }

    /*..................HERO MEDIA STYLES.............*/
    .hero {
        margin-top: 0;
    }

    .hero .inner {
        padding: 0 20px;
    }

    .hero .inner p {
        font-size: 25px;
    }

    .hero img {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    header .inner img {
        width: 160px;
    }

    header #menu-bar {
        display: initial;
    }

    .info {
        padding: 10px 20px;
    }

    .info .inner {
        align-items: start;
        flex-direction: column;
    }

    .info .inner .box {
        margin-right: 0;
        font-size: 12px;
    }

    header .inner {
        padding: 10px 20px;
    }

    header .navbar {
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        position: absolute;
        background: var(--mainBlue);
    }

    header .navbar.active {
        display: block;
    }

    header .navbar ul {
        display: block;
        padding: 20px 0;
    }

    header .navbar ul li {
        padding: 8px 35px;
    }

    header .navbar ul li a {
        color: var(--white);
    }

    .hero {
        gap: 20px;
        flex-direction: column-reverse;
    }

    .hero .inner {
        width: auto;
        padding: 0 25px;
    }

    .hero .inner p {
        font-size: 16px;
    }

    .hero .inner a {
        text-align: center;
    }

    .hero .inner a button {
        min-width: 110px;
        margin: 0 auto;
    }

    .hero img {
        width: 300px;
        padding: 0 10px;
    }
}

